/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* headerの調整 */
header {
  padding: 12px 24px;
  border-bottom: 1px solid #eee;
}

/* bodyの調整 */
body {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 16px;
  background-color: #f8f9fa;
  font-family: sans-serif;
}

/* footerの調整 */
footer {
  padding: 12px 24px;
}

/* 書籍名の表示 */
.books-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

/* 書籍のカード化 */
.book-card {
  height: 150px;
  width: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #fff;
  padding: 0 12px;
  text-align: left;
}

.book-card:hover {
  opacity: 1.0;
  transform: translateY(-3px);
}


/* リンクの文字色の変更 */
a {
  text-decoration: none;
  color: inherit;
}

/* エラーメッセージの統一 */
.error-messages {
  color: red;
  background: #ffecec;
  padding: 10px;
  border: 1px solid red;
  margin-bottom: 10px;
}

/* リンクのボタン化 */
.btn {
  display: inline-block;
  padding: 8px 16px;
  border: solid 1px black;
  border-radius: 6px;
  text-decoration: none;
  color: rgb(117, 114, 114);
  font-size: 14px;
  cursor: pointer;
  transition: 0.2s;
}

.btn:hover {
  opacity: 0.8;
  transform: translateY(-3px);
  cursor: pointer;
}

/* 移動ボタン */
.move-btn {
  background-color: #f99716;
  color: white;
}

/* 編集ボタン */
.edit-btn {
  background-color: #91eb6a;
  color: white;
}

/* 削除ボタン */
.delete-btn {
  display: inline-block;
  padding: 8px 16px;
  border: solid 1px black;
  border-radius: 6px;
  text-decoration: none;
  font-size: 14px;
  background-color: #dc3545;
  color: white;
  margin-top: 10px;
}

/* ログアウトボタン */
.logout-btn {
  display: inline-block;
  padding: 8px 16px;
  border: solid 1px black;
  border-radius: 6px;
  text-decoration: none;
  font-size: 14px;
  margin-top: 10px;
  background-color: #2ef7e0;
  color: white;
}

/* ゲストログインボタン */
.guest-login-btn {
  display: inline-block;
  padding: 8px 16px;
  border: solid 1px black;
  border-radius: 6px;
  text-decoration: none;
  font-size: 14px;
  margin-top: 10px;
  background-color: #91eb6a;
  color: white;
}

/* タグ */
.tag {
  height: auto;
  border: solid 1px grey;
  border-radius: 999px;
  background-color: white;
  padding: 4px 8px;
}

/* 入力欄の調整 */
input[type="title"],
[type="author"],
[type="series_name"],
[type="rating"] {
  width: 200px;
  height: 20px;
}

input[tyoe="body"] {
  width: 200px;
  height: 100px;
}

label {
  vertical-align: top;
}

.form-group {
  margin-bottom: 10px;
}

.form-control {
  width: 200px;
  height: 20px;
}

.form-control-body {
  width: 200px;
  height: 100px;
}

select.form-control {
  height: 25px;
}
